body {
  background: url("https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.table {
  background-color: brown;
  color: white;
}
.app {
  height: 100%;
  width: 100%;
}
.flex {
  /* padding: 3px; */
  height: 250px;
  width: 300px;
  background-color: azure;
  border: 3px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid slateblue;
}
input {
  outline: none;
  box-shadow: 1px 1px royalblue;
}
.first-child,
.second-child,
.third-child,
.fourth-child {
  display: flex;
  justify-content: space-between;
}
.first-child {
  padding-top: 7px;
}
label {
  padding-left: 6px;
}
.choose {
  margin-left: 22px;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  cursor: pointer;
}

.parent {
  height: 350px;
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}
.delAll {
  margin-left: 3px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(73, 7, 112);
  color: white;
  font-size: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0.3s linear;
}
.disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  margin: 0 auto;
}
.submit {
  margin: 0 auto;
}
